:root {
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
  min-height: 100vh;
  max-width: 1280px;
  background-color: #ffffff;
  margin: 0 auto;
}

body {
  margin: 0px !important;
  background-color: #ffffff;
  border: 1px solid #dddddd;
}

.page-container {
  margin-bottom: 70px;
}

.nav {
}

nav {
  display: flex;
  justify-content: space-between;
  background-color: #222222;
}

nav .logo {
  display: flex;
  align-items: center;
}

nav .logo img {
  width: 56px;
  height: 56px;
  padding: 8px;
  border-radius: 50%;
}

nav .logo .title {
  color: #ffffff;
  font-size: 24px;
  font-weight: bold;
  padding-left: 20px;
}

nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  list-style: none;
}

nav ul li {
  color: #ffffff;
  padding: 22px 40px;
  background-color: #333333;
}

nav ul li:hover {
  background-color: #222222;
}

nav ul li a {
  color: #ffffff;
  text-decoration: none;
}

nav ul li.active {
  background-color: #222222;
}

.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 450px;
  background-image: url(//unsplash.it/900/450/?blur);
  background-size: cover;
  background-color: #333333;
}

@keyframes appear {
  from {
    opacity: 0;
    top: -100px;
  }

  to {
    opacity: 1;
    top: 1;
  }
}

.banner .heading {
  text-align: center;
  color: #ffffff;
  font-size: 2rem;
  position: relative;
  animation: appear 1s ease-in-out 0s forwards;
}

.banner .heading small {
  font-size: 1.5rem;
}

.maintext {
  font-size: 18px;
  padding: 12px;
}

.subtext {
  display: flex;
}

.subtext div {
  padding: 20px;
  margin: 10px;
  border-radius: 10px;
  color: #ffffff;
}

.subtext .red {
  background-color: #ff6363;
}

.subtext .yellow {
  background-color: #f0a500;
}

.subtext .green {
  background-color: #1eb286;
}

.quote {
  display: block;
  background-color: #eeeeee;
  padding: 50px;
  text-align: center;
  font-style: italic;
}

.quote::before {
  display: inline-block;
  content: open-quote;
  color: #d3d3d3;
  font-size: 2rem;
}

.quote::after {
  display: inline-block;
  content: close-quote;
  color: #d3d3d3;
  font-size: 2rem;
}

.footer {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #222222;
  color: #ffffff;
  text-align: center;
  padding: 24px;
}

/* Media queries */

/* Tablets */
@media all and (max-width: 850px) {
  nav {
    flex-direction: column;
    align-items: center;
  }
  nav ul {
    width: 75%;
    justify-content: space-between;
    padding-inline-start: 0;
    text-align: center;
  }
  nav ul li {
    width: 20%;
    padding: 15px 0;
    border-radius: 10px;
  }
}

/* Phones */
@media all and (max-width: 600px) {
  nav ul {
    flex-direction: column;
    align-items: center;
  }
  nav ul li {
    padding: 11px 0;
    margin: 3px;
  }
}
